/* с прозрачностью rgba(255, 255, 255, 0.6); */
:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-black: #2f303a;
  --background-section: #f5f4fa;
  --main-font: Roboto, sans-serif;
  --main-foter-color: #000000;
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--white-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Утилиты */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
}
.logo {
  color: var(--main-foter-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo--foter {
  display: inline-block;
  color: var(--white-color);
  margin-bottom: 20px;
}
.logo-accent {
  color: var(--accent-color);
}
.foter-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white-color);
}
/* Навигация */
.nav-container {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  position: absolute;
  display: block;
  border-radius: 2px;
  bottom: 0;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
}
/* контакты */
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__item:not(:last-child) {
  margin-right: 30px;
}
.contacts__link {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}
.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}
/* сss для странички "Студия" */
/* hero */
.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  /* background-color: var(--background-black); */
  text-align: center;
}
.background-image {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backgroundhero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.section-hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.button {
  border: none;
  width: 200px;
  min-height: 50px;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #188ce8;
}
/* features */
.section-features__title {
  margin: 0;
  visibility: hidden;
}
.features {
  padding-bottom: 0;
}
.section-features__list {
  display: flex;
  justify-content: space-between;
}
.section-features__item {
  width: 270px;
}
.section-features__name {
  margin-bottom: 10px;
  margin-top: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.section-features__text {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.7;
}
.section-features__icon {
  width: 70px;
  height: 70px;
}
.section-features__box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-section);
}
/* section */
.section-work__list {
  display: flex;
  justify-content: space-between;
}
.section-work__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.section-work__position {
  position: relative;
}
.section-work__image {
  display: block;
}
.section-work__text {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: var(--white-color);
  margin: 0;
}
/* team */
.section-team__list {
  display: flex;
  justify-content: space-between;
}
.section-team__box {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-team__item {
  box-shadow: var(--box-shadow);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: var(--white-color);
}
.section-team {
  background-color: var(--background-section);
}

.section-team__image {
  display: block;
}
.section-team__name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.section-team__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.section-team__text {
  margin-bottom: 16px;
  margin-top: 0;

  font-size: 16px;
  line-height: 1.18;
}
.social__link {
  display: flex;
  padding: 12px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link--white {
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__item {
  width: 44px;
  height: 44px;
}
.social {
  display: flex;
  justify-content: center;
}
.social__icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  fill: var(--white-color);
  background-color: var(--accent-color);
}
.section-client__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.section-client__list {
  display: flex;
}
.section-client__item {
  display: flex;
  text-align: center;
}
.section-client__item:not(:last-child) {
  margin-right: 30px;
}
.section-client__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-client__link:hover,
.section-client__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* css для "Портфолио" */
.portfolio__title {
  visibility: hidden;
  margin: 0;
}
.button-gallery {
  display: flex;
  padding-bottom: 34px;
  justify-content: center;
}
.button-gallery__item:not(:last-child) {
  margin-right: 8px;
}

.button-gallery__btn {
  min-height: 38px;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--background-section);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-gallery__btn:hover,
.button-gallery__btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio__link {
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;
}
.portfolio__image {
  display: block;
}
.portfolio__item:hover,
.portfolio__item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.portfolio__link:hover .portfolio__slide,
.portfolio__link:focus .portfolio__slide {
  transform: translateY(0);
}
.portfolio__name {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}
.portfolio__box {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 0;
  padding: 20px 24px;
}
.portfolio__position {
  position: relative;
  overflow: hidden;
}
.portfolio__slide {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px 10px;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
}
/* foter */
.page-foter {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-black);
  font-size: 14px;
  line-height: 1.7;
}
.address-section__item:not(:last-child) {
  margin-bottom: 9px;
}
.address-section__item {
  font-style: normal;
}
.address-section__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-section__link--white {
  color: var(--white-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-section__link:focus,
.address-section__link:hover {
  color: var(--accent-color);
}

.social-foter {
  margin-left: 70px;
}
.container-foter {
  display: flex;
  align-items: baseline;
}
.foter-text {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 700;
}

.subscribe__form {
  display: flex;
}

.subscribe__icon {
  margin-left: 10px;
}
.subscribe__button {
  display: flex;
  align-items: center;
  padding: 10px 29px;
}
.subscribe {
  margin-left: 93px;
}
.subscribe__form::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe__input {
  min-width: 358px;
  min-height: 50px;
  margin-right: 12px;
  padding: 16px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--background-black);
  color: var(--white-color);
  font: var(--main-font);
}
/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
}
.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 10%);
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--white-color);
}
.modal__button:hover,
.modal__button:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;

  padding: 40px;
}
.modal-form__title {
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 12px;
  margin-top: 0;
}
.modal-form__name {
  margin: 0;
}
.modal-form__name:nth-child(1) {
  margin-bottom: 4px;
}
.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  cursor: pointer;
  padding-left: 42px;
  outline: none;
  background: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus,
.modal-form__input:focus + .modal-form__icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
.modal-form__position {
  position: relative;

  margin-bottom: 10px;
}
.modal-form__lebel {
  display: block;
  cursor: pointer;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal-form__icon {
  position: absolute;

  left: 12px;
  top: 50%;
  display: block;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-text {
  display: block;
  margin-top: 0;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  padding: 16px 12px;
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

/* .form-comment:focus, */
.modal-form__textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  cursor: pointer;
  margin-bottom: 30px;
}
.modal-form__policy {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-form__checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 8px;
  fill: var(--white-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__policy:checked + .modal-form__checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-origin: border-box;
  background-size: contain;
}
.modal-form__link {
  color: var(--accent-color);
}
.modal-form__button--center {
  align-self: center;
}
