.nav-container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
  @media screen and (min-width: $tablet) {
    justify-content: center;
  }
}
.site-nav {
  display: flex;
  margin-left: 81px;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    margin-right: 88px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--accent-color);
  }
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link--current {
  color: var(--accent-color);
  &::after {
    position: absolute;
    display: block;
    border-radius: 2px;
    bottom: 0;
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
  }
}
