.logo {
  color: var(--main-foter-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo__foter {
  display: inline-block;
  color: var(--white-color);
  margin-bottom: 20px;
}
.logo__lebel {
  color: var(--accent-color);
}
